<% include partials/header %>

<div class="container">
           <header class="jumbotron">
               <div class="container">
                <h1>Welcome to Camping</h1>
                <p>View our camping lsiting ...</p>
        
                <p>
                 <a class="btn btn-primary btn-large" href="/camp">View All Camp Listings</a>
                </p>
            </div>
               </header>
</div>
 







<% include partials/footer %>