<h1>Welcome to Friendship listing</h1>


<% friends.forEach(function(x) { %>
    <li>
        <%= x %>
    </li>
<% }); %>

<form action="/addfriend" method="post">
    <input type="text" name="newfriend" placeholder="enter name">
    <button>Make friends</button>
    
</form>